

.containerFavoritos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.containerLista{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 10px;
}
.containerLista:hover{
    background-color: rgb(18, 47, 37);
    scale: 1.2;
}
.containerLista button{
    margin-bottom: 10px;
    background-color: rgb(255, 223, 127);
}

.BTNELIMINAR:hover{
    cursor:pointer;
    scale: 1.1;
}