
.episodelist{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 25px 1px;
}
.containerAÑADIR{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.addToListButton{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom:20px;
    border-radius: 2px;
    background-color: bisque;
}
.addToListButton:hover{
    background-color: aqua;
    
}