

.paginadorContainer{
    display: flex;
    align-items: center;
    justify-content:center;
    margin-top: 10px;
    border-radius: 10px;
    background-color: rgb(16, 117, 140);
}
.paginadorContainer button{
    display: flex;
    color: black;
    margin-left: 10px;
    margin-right: 10px;
}
